body{
    background: #000;
    color: #fff !important;
}
/* a{
    color:#fff;
}
p{
    color: #fff;
} */
ul li a, p, a, label, .footer h2{
    transition: all 500ms ease-in-out !important;
    color: #fff !important;
}
h2{
    color: #C40000;
    transition: all 500ms ease-in-out !important
}
.activate span{
    background: #fff !important;
}